{% load wagtailroutablepage_tags %}

<div class="box box_form__poll" style="display: none;">
    <div class="title form__poll_title">{{ value.title }}</div>
    {# sequence_number - номер цикла, чтобы идентифицировать блок опроса среди остальных блоков #}
    <form action="{% routablepageurl page "poll" %}" style="display: none;"
          class="form__poll" data-sequence_number="{{ forloop.counter0 }}" >
        <label>
            <input type="radio" name="poll__radio" data-question_id="question_1">
            <span>{{ value.question_1.title }}</span>
        </label>
        <label>
            <input type="radio" name="poll__radio" data-question_id="question_2">
            <span>{{ value.question_2.title }}</span>
        </label>
    </form>
    <div class="result__polls">
        <div class="result_poll">
            <span>{{ value.question_1.title }}</span>
            <div class="scale__result question_1">
                <div class="scale__result_linear" ></div>
                <div class="scale__result_number">{{ value.question_1.counter }}</div>
            </div>
        </div>
        <div class="result_poll">
            <span>{{ value.question_2.title }}</span>
            <div class="scale__result question_2">
                <div class="scale__result_linear"></div>
                <div class="scale__result_number">{{ value.question_2.counter }}</div>

            </div>
        </div>
    </div>
</div>