!.gitignore

*.pyc
*.swp
*.rdb
*.log
.DS_Store
*.ipynb

db.sqlite3

.idea


/project/media/*
/project/static/*
!/project/media/.gitkeep
!/project/media/no-img.png
!/project/static/.gitkeep
/project/mhealth/settings/local/*
!/project/mhealth/settings/local/README.md

data/
env/

celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db