{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<meta property="og:title" content='«Живешь ли ты полной жизнью?» Мой результат: "Пора пересмотреть приоритеты"'>
    <meta property="og:description" content="Сконцентрируйся на одной цели и двигайся вперед вместе с Luminox F-117 Nighthawk.">
    <meta property="og:image" content="https://mhealth.ru/static/embeds/test-luminox/img/test/final/MH_test_share_1_new.jpg">
	<script>
			window.location.href = "https://mhealth.ru/blog/redakciya/proanaliziruj-svoyu-zhizn-i-poluchi-chasy-luminox/";
		</script>
	</head>
	<body>
		
	</body>
	
	</html>