{% load menu_tags %}
{% load static  %}
<div class="b-footer usn">
  <div class="footer-top">
    <ul>
      <li><a href="/fitness/">Фитнес</a></li>
      <li><a href="/zdorovoe-pitanie/">Еда</a></li>
      <li><a href="/zdorovye/">Здоровье</a></li>
      <li><a href="/sex-i-lyubov/">Отношения</a></li>
      <li><a href="/moda-i-krasota/">Красота</a></li>
      <li><a href="/intervyu-so-zvezdami/">Звезды</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="logo-mobile-footer"><img src="{% static 'img/wh_logo_white.svg' %}" alt=""></div>
    <div class="icons-socials">
       <a href="https://vk.com/whealth"><img src="{% static 'img/icon_vk.svg' %}" alt=""></a><a href="https://www.facebook.com/WomensHealthRussia"><img src="{% static 'img/icon_fb.svg' %}" alt=""></a><a
        href="https://www.instagram.com/womenshealth_russia/"><img src="{% static 'img/icon_insta.svg' %}" alt=""></a><a href="http://t.me/whealth"><img src="{% static 'img/icon_tg.svg' %}" alt=""></a><a
        href="http://ok.ru/group/53563138965715"><img src="{% static 'img/icon_ok.svg' %}" alt=""></a>
    </div>
    <div class="menu-footer">
      <ul>
        <li><a href="http://old.whealth.ru/~www-link-ipad">iPad-версия</a></li>
        <li><a href="/about/contacts/">Контакты</a></li>
        {# <li><a href="#">Подписаться на рассылку</a></li> #}
        <li><a href="/about/reklama/">Реклама</a></li>
        <li><a href="/about/contacts/">Hаписать нам</a></li>
      </ul>
    </div>
    <div class="coping-section">
      <img src="{% static 'img/18+white.svg' %}" alt="">
      <div class="descripteon-coping">
        © 2017–2018 ООО «Москоутаймс». Все права защищены. Любое воспроизведение материалов или фрагментов из них на любом языке возможно только с письменного разрешения ООО «Москоутаймс».
      </div>
    </div>
  </div>
</div>