{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<meta property="og:title" content='«Живешь ли ты полной жизнью?» Мой результат: "Стоит поработать над собой"'>
    <meta property="og:description" content="Поверь в себя и научись контролировать свое время с Luminox Atacama Field Day Date.">
    <meta property="og:image" content="https://mhealth.ru/static/embeds/test-luminox/img/test/final/MH_test_share_2_new.jpg">
	<script>
		window.location.href = "https://mhealth.ru/blog/redakciya/proanaliziruj-svoyu-zhizn-i-poluchi-chasy-luminox/";
	</script>
</head>
<body>
	
</body>

</html>