Django>=1.11,<1.12
wagtail>=1.13,<1.14
wagtailmenus==2.5
django-split-settings==0.2.5
django-select2==5.11.1
django-colorfield==0.1.14
Wand==0.4.4
psycopg2-binary
django_resized
phpserialize==1.3
social-auth-app-django==2.0.0
mysqlclient
pyyaml==3.12
ua-parser==0.7.3
user-agents==1.1.0
django-user-agents==0.3.2
django-redis
jupyter
django-extensions
wagtailtinymce
django-ipware==2.0.1
django-pipeline
raven
celery
giphy_client