{% extends "base.html" %}
{% load banner_tags content_widgets wagtailimages_tags %}

{% block title %}Смена пароля{% endblock %}

{% block rubric_block %}
    <div class="wrapper breadcrumbs clearfix">
        <div class="container clearfix">
            <ol>
                <li><a href="/">Главная</a></li>
                <li>Смена пароля</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block container_wrapper %}
    <div class="wrapper form clearfix">
        <div id="block_ws_adv" class="container clearfix">
            <h1>Напомнить пароль</h1>
            <aside id="inc_block_right" class="slidesection">
                <div class="advertise fixed">
                    <div></div>
                </div>
            </aside>
            <div id="inc_block_main" class="form_page clearfix">

                <div class="tab-content">
                    <form method="post" action="" name="bform" class="form-horizontal">
                        {% csrf_token %}

                        <fieldset class="block">
                            <div class="form-group">
                                <label for="" class="control-label"><span>Новый пароль:</span></label>
                                <div class="">
                                    <input type="password" name="new_password1" maxlength="50" value=""
                                           class="form-control" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="" class="control-label"><span>Подтверждение пароля:</span></label>
                                <div class="">
                                    <input type="password" name="new_password2" maxlength="50" value=""
                                           class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input type="submit" value="Изменить пароль" class="btn">
                                </div>
                            </div>

                        </fieldset>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_content %}
    {% promo_rubric_widget %}
{% endblock %}
