{% extends "base.html" %}
{% load banner_tags content_widgets wagtailimages_tags %}

{% block title %}Смена пароля{% endblock %}

{% block rubric_block %}
    <div class="wrapper breadcrumbs clearfix">
        <div class="container clearfix">
            <ol>
                <li><a href="/">Главная</a></li>
                <li>Напомнить пароль</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block container_wrapper %}
    <div class="wrapper form clearfix">
        <div id="block_ws_adv" class="container clearfix" >
            <h1>Напомнить пароль</h1>
            <aside id="inc_block_right" class="slidesection" >
                <div class="advertise fixed">
                    <div></div>
                </div>
            </aside>
            <div id="inc_block_main" class="form_page clearfix">
                <div class="tab-content">
                    <form class="form-horizontal" role="form" name="bform" method="post" target="_top">
                        <input type="hidden" name="backurl" value="/">
                       {% csrf_token %}

                        <fieldset class="block">

                            <div class="form-group">
                                <label for="" class="control-label"><span>E-mail</span></label>
                                <div class="">
                                    <input class="form-control" type="text" name="email" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="inline-group">
                                    <button type="submit" class="btn" name="send_account_info">Выслать пароль</button>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <dl class="register_offer">
                                <dd>Нет аккаунта на сайте?</dd>
                                <dt><a href="{% url 'registration' %}">Зарегистрируйся</a></dt>
                            </dl>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_content %}
    {% promo_rubric_widget %}
{% endblock %}