<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
{% load wagtailimages_tags content_widgets %}
	<channel>
		<title>{{ title }}</title>
		<link>{{ host }}</link>
		<description>{{ description }}</description>
		<language>ru</language>
		<lastBuildDate></lastBuildDate>
		{% for page in articles %}
		    <item>
                {% image page.preview_picture original as tmp_photo %}
		        <title><![CDATA[{{ page.title|safe }} ]]></title>
		        <link>{{ host }}{{ page.get_url }}</link>
		        <description><![CDATA[ {{ page.full_lead|striptags|safe }}]]></description>
		        <pubDate>{{ page.published_at|date:"D, d M Y H:i:s O" }}</pubDate>
		        <enclosure url="{{host}}{{ tmp_photo.url }}" type="image/jpeg"/>
		    </item>
		{% endfor %}
	</channel>
</rss>
